@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  margin: 5px;
}

.list {
  display: grid;
  grid-template-columns: auto auto;
  width: 300px;
  color: #fff;
}

.delete {
  margin-left: 150px;
  border: none;
  background: none;
  color: red;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;

  transition: border 0.2s ease-in;
}

.delete:hover {
  padding: 0px;
  border: 1px solid #000;
}
